/* ------------------------------------------------------------
  general styles
------------------------------------------------------------ */

#mfPreviewBar { display:none; } /* hide myfonts.net topbar (trial account for showcase) */



html {
  font-size:10px;
  box-sizing:border-box;
}
body {
  font:1.4rem/1.4 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  color:#fff;
  background:linear-gradient(135deg, #5a50b6 0%,#6dd8c6 100%);
}

*,
*:before,
*:after {
  box-sizing:inherit;
}



img {
  max-width:100%;
}

::-moz-selection {
    color: #fff;
    background: #c80320;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #c80320;
    text-shadow: none;
}

input::-moz-selection,
textarea::-moz-selection {
    color: #fff;
    background: #c80320;
    text-shadow: none;
}

input::selection,
textarea::selection {
    color: #fff;
    background: #c80320;
    text-shadow: none;
}










/* ==========================================================================
   layout
   ========================================================================== */
body {
  display:flex;
  flex-wrap:wrap;
}

.about-section { order:1; }
.page-header { order:2; }
.devs-section { order:3; }
.join-us-section { order:4; }
.page-footer { order:5; }


/* ----- text ----- */
h1 {
  margin-bottom:1em;
  font:2.8rem/1 'Futura BT Pro Medium', Arial, sans-serif;
}

p {
  margin-bottom:1em;
}



/* ----- buttons ----- */
.btn {
  outline:none;
  cursor:pointer;
  display:inline-block;
  padding:.9em 2em;
  text-align:center;
  text-transform:uppercase;
  font:1.8rem/1 'Futura BT Pro Medium', Arial, sans-serif;
  border:none;
  color:#000;
  background-color:#ffec27;
  box-shadow:0 0 6px rgba(255,255,255,.4);
  transition:.3s ease;
}
.btn:hover {
  background-color:#ffd927;
  box-shadow:0 0 6px rgba(255,255,255,.4), 0 8px 15px rgba(0,0,0,.2), inset 0 -8px 20px rgba(255,236,39,1);
}
.btn:active {
  background-color:#ffec27;
  transform:translateY(1px);
  box-shadow:none;
}



/* --------------------
	page header
--------------------- */
.page-header {
  width:100%;
  background-color:#000;
}

.page-header__nav {
  max-width:122rem;
  margin:0 auto;
}
.page-header__nav ul {
  display:flex;
  align-items:center;
  justify-content:space-around;
  height:5rem;
  font:2rem/1 'Futura BT Pro Medium', Arial, sans-serif;
}
.page-header__nav a {
  text-decoration:none;
  color:#fff;
  transition:.3s ease;
}
.page-header__nav a:hover { color:#66c7c3; }



/* --------------------
	about section
--------------------- */
.about-section {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  position:relative;
  width:100%;
  min-height:calc(100vh - 5rem);
  padding:0 2rem;
  text-align:center;
  background:linear-gradient(135deg, rgba(90,80,182,.75) 0%, rgba(109,216,198,.75) 100%),
              url(../assets/hero-background-photo.jpg) no-repeat 50% 50% / cover;
}

.about-section__logo {
  width:80%;
  max-width:42rem;
  height:auto;
  margin-bottom:2em;
}


.about-section__text { max-width:70rem; }
.about-section__text h1 {
  white-space:nowrap;
  font-size:3.2rem;
}
.about-section__text h1 span {
  position:relative;
  top:.45em;
  display:inline-block;
  width:1.7em;
  height:1.7em;
  background:url(../assets/js-logo.svg) no-repeat 50% 50% / contain;
  text-indent:500%;
  white-space:nowrap;
  overflow:hidden;
}
.about-section__text p { margin:3em 0 1.5em 0; }
.about-section__text .btn {
  width:80%;
  max-width:35rem;
}





/* ==========================================================================
   media queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}
